<div id="wrap">
  <header></header>
  <main class="container"></main>
  <div id="push"></div>
</div>
<footer></footer>

<%= javascript_tag do %>
  $(function() {
    BackboneOnCrutches.start();
  });
<% end %>
